<div id="user-index" class="page">
  <%# Home button start %>
  <div id="user-page">
    <div class="btn-container">
      <%= link_to raw('<i class="fas fa-house"></i>'), "../../" %>
    </div>
    <%# End fo Home button  %>

    <%# display create post link if user is signed in %>
    <% if current_user == @user %>
      <div class="btn-container">
        <%= link_to "Create post", new_user_post_path(@user) %>
      </div>
    <% end %>
    
    <%# user info start %>
    <div class="user-container">
      <div class="user-profile-pic">
        <img src="<%= @user.photo %>" alt="profile-picture">
      </div>
      <div class="user-info">
        <h3><%= @user.name%></h3>
        <p class="posts-counter">Number of posts: <%= @user.posts_counter || 0 %></p>
      </div>
    </div>
    <article class="user-bio">
      <h3>Bio</h3>
      <div class="bio"><%= @user.bio %></div>
    </article>
    <%# end of user info %>
    <%# posts start %>
    <article>
      <%= @posts.map { |post| render_post(@user, post) }.join.html_safe %>
    </article>
    <%# end of post %>
  
    <% if @post_counter > 3 %>
          <div class="btn-container see-posts">
            <%= link_to "See all posts", user_posts_path(@user) %>
          </div>
      <%end%>
    
    <%# end of see all button %>
  </div>
</div>
